#box-wrapper {
    position: relative;
    width: 700px;
    height: 500px;
    border: 2px solid black;
    overflow: hidden;
  }
  .inputCont{ 
display: flex;
justify-content: center;
gap: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
input{
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid grey;
}
h3{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
color: red;
} 


#box-wrapper {
    width: 700px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background: #f0f0f0;
  }

  .ball {
    border-radius: 50%;
    position: absolute;
  }

  button {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
  }
